<mat-card>
  <mat-card-header *ngIf="!question.id">New Question</mat-card-header>
  <mat-card-header *ngIf="question.id">Edit Question</mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <mat-label>Question</mat-label>
        <input [(ngModel)]="question.text" name="question" matInput>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Correct Answer</mat-label>
        <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer 1</mat-label>
        <input [(ngModel)]="question.wrongAnswers[0]" name="wrongAnswer1" matInput>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer 2</mat-label>
        <input [(ngModel)]="question.wrongAnswers[1]" name="wrongAnswer2" matInput>
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <mat-label>Wrong Answer 3</mat-label>
        <input [(ngModel)]="question.wrongAnswers[2]" name="wrongAnswer3" matInput>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="question.id" (click)="null" mat-button>Edit</button>
    <button *ngIf="question.id" (click)="question = {id: 0, text: '', correctAnswer: '', wrongAnswers: ['','','']}" mat-button>New</button>
    <button *ngIf="!question.id" (click)="post(question)" mat-button>Post</button>
  </mat-card-actions>
</mat-card>
